NODE_ENV=development
PORT=4000

# PostgreSQL (voir docker-compose.yml)
DATABASE_URL="postgresql://ecole:ecole_pwd@localhost:5432/ecole_erp?schema=public"

# Auth JWT
JWT_SECRET="change-moi-en-une-longue-chaine-aleatoire-en-production"
JWT_EXPIRES_IN="8h"

# CORS
CORS_ORIGIN="*"
